body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../imgs/background/pixel.png);
}

h1 {
	width:147px;
	margin-left:10px;
	font-size:12px;
	
	
}

p {
	margin:0px;
}


#links {
	margin-left:40px;
	
	width:660px;
	height:200px;
	padding-top:70px;
		
}

#column {
	float:left;
	
	
}

#arrows div {
	cursor:pointer;
}

#info {
	padding-top:30px;
	overflow:hidden;
	width:495px;
}


#Manu {
	padding-top:20px;
	padding-left:510px;
	
	
}


.logo {
	margin-left:7px;
	margin-top:14px;
	cursor:pointer;
}


#Manu li {
	font-size:24px;
	text-transform: uppercase;
	list-style: none;
	list-style-position: inside;
	letter-spacing: -3px;
	line-height: 17px;
	cursor:pointer;
	
	
}
.selected {
	color: #ff6d6d;
}



.eterije {
	font-size:20px;
	text-transform: uppercase;
	list-style: none;
	list-style-position: inside;
	letter-spacing: -3px;
	line-height: 17px;
	color:#999;
}

#manu-column {
	overflow:hidden;
	font-size:11px;
	color:#CCC;
	text-shadow: #000 -1px -1px 1px;
}

.Stickers {
	font-size:24px;
	font-family:Verdana, Geneva, sans-serif;
	text-transform:lowercase;
	font-weight:bolder;
}

.navigation {
	cursor:pointer;
}

#content-slider {
	cursor:w-resize;
}

#content-slider:active{
	cursor:w-resize;
}
#content-slider:hover{
	cursor:w-resize;
}