#NewsDates li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform: uppercase;
	list-style: none;
	list-style-position: inside;
	line-height:17px;
	cursor:pointer;
	font-weight:bolder;
}


.dateselected {
	color:#CCC;
}

.title p {
	padding:20px;
}

.title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#CCC;
	font-weight:bold;
	letter-spacing: -3px;
	cursor:pointer;
}



.teaser {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	font-weight:bold;
	letter-spacing: -2px;
	padding:10px;
	cursor:pointer;
}

.text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	font-weight:900;
	letter-spacing: -1px;
}

#Dienos{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#CCC;
	font-weight:bold;
	letter-spacing: -3px;
	padding:20px;
}
.Diena{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#000;
	font-weight:bold;
	letter-spacing: -3px;
}

#Dienos img{
	cursor:pointer;
}

#Vedejai {
	width:290px;
	height:250px;
	overflow:hidden;
}

.Vardas{
	vertical-align:bottom;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#000;
	font-weight:bold;
	letter-spacing: -3px;
	margin-top:20px;
	line-height:22px;
	text-transform: uppercase;
}

.VardasMazas{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#000;
	font-weight:bold;
	letter-spacing: -2px;
	margin-top:30px;
	line-height:18px;
	text-transform: uppercase;
}
.PavardeMazas{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#CCC;
	font-weight:bold;
	letter-spacing: -2px;
	padding:0px;
	margin:0px;
	line-height:18px;
}


#Placiau{
	vertical-align:bottom;
	font-size:9px;
	text-align:right;
	color:#333;
	text-transform:none;
	font-style: normal;
}

.Pavarde{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#CCC;
	font-weight:bold;
	letter-spacing: -3px;
	padding:0px;
	margin:0px;
	line-height:22px;
	text-transform: uppercase;
	vertical-align:bottom;
}



.Nuotraukos{
	color:#333;
	cursor:pointer;
}

#VedejuNumbers li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform: uppercase;
	list-style: none;
	list-style-position: inside;
	line-height:17px;
	cursor:pointer;
	font-weight:bolder;
}

.numberselected {
	color:#CCC;
}


.trigers {
	color:#992929;
	font-size:15px;
	letter-spacing:-2px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 11pt;
}

.apielaida {
	color:#992929;
	font-size:15px;
	letter-spacing:-2px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 11pt;
}


.LaidosLaikas {
	color:#000;
	font-size:13pt;
	letter-spacing:-2px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 11pt;
}


.drager {
	cursor:move;
}

.LaiduSarasas {
	color:#FFF;
	font-size:13pt;
	letter-spacing:-2px;
	font-weight:bold;
	font-family: Arial;
	font-style: normal;
	line-height: 11pt;
	cursor:pointer;
	
}

.LaiduSarasasOn{
	color:#000;
	font-size:13pt;
	letter-spacing:-2px;
	font-weight:bold;
	font-family: Arial;
	font-style: normal;
	line-height: 11pt;
	cursor:pointer;
	background-color:#992929;
}

.LaiduSarasas:hover {
	color:#cd3232;
	background-color:#992929;
	
}

#vedejusnukiai img {
	cursor:pointer;
}

.xas {
	color:#cd3232;
	font-weight:bold;
	font-size:20px;
	text-align:center;
	cursor:pointer;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: normal;
}

.notes {
	color:#CCC;
	font-size:15px;
	letter-spacing:-1px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	line-height: 11pt;
}
